body{
	font-family: 'Montserrat' sans-serif;
	overflow-x: hidden;
	background-image: url("images/grey.png");
}
.bg-grey{
	background-color: lightcyan;
	background: fixed url("https://github.com/neev0511/gdgpsvk-hyper-text/blob/main/WhatsApp%20Image%202022-08-11%20at%2012.18.42.jpeg?raw=true");
}

.content-banner{color: #ffffff;
background-image: url(./img/banner.png);
min-height:400px;
height:100%;
position: relative;
background-position: center center;
background-size: cover;
padding-top: 125px;
}

.carryover {
	display: flex;
	gap: 10px;
	background-color: transparent;
}

#carousel {
	margin-right: auto;
	margin-left: -15%;
}
#carouselExample {
	margin-left: auto;
	margin-right: auto;
}

.content-banner:before{position:absolute;
content: '';
width: 100%;
height: 100%;
background-color:rgba(57,49,49,0.7);
top:0;
left: 0;
z-index: 1;}

.content-banner .first-title{font-size: 44px;
font-weight: 400;
line-height: 1.2;
position: relative;
z-index: 2;
margin:0px 0px 12px;}

.content-banner .banner-des{font-size: 12px;
line-height: 150%;
letter-spacing: 0;
position: relative;
z-index: 2;
font-weight: 400;
margin-top: 0;}

.banner-btn{padding:0 34px;
z-index: 1;
margin:30px auto 25px;
line-height: 56px;
position: relative;
border-radius: 6px;
height:56px;
font-size: 16px;
background-color: #fe4066;
display: inline-block;
color: #ffffff;
transition: 0.3s;
text-align: center;

}

.banner-btn:hover{text-decoration: none;
color:#fe4066;
background-color:white; }


.header{position: relative;
width: 100%;
}

.header-inner{position: absolute;
top: 0;
left: 0;
width:100%;
z-index: 99;
background-color: transparent;
}

.logo{color:#ffffff;
}

.nav-item .nav-link{display: block;
line-height: 36px;
text-transform: capitalize;
font-size: 16px;
font-weight: 500;
transition: 0.15s;}

a{
	text-decoration: none;
	color: #000;
}

.nav-item .nav-link:hover{color: #FE4066;}

.header-btn{color:#ffffff;
border-radius: 30px;
background-color:gray;
border:none;
font-weight: 500;
outline: none;
font-size: 15px;
padding:7px 22px;
transition: 0.5s;
}

.header-btn:hover{background-color: #FE4066;
cursor: pointer;}

.navbar-scroll{background-color: #ffffff;
padding: 0;
position: fixed;
top:0;
z-index: 99;
box-shadow:0px 1px 10px rgba(0,0,0,0.4);
transition-duration: 0.6s; }

.navbar-scroll .nav-item .nav-link{color: black;
}

.navbar-scroll .header-btn{color: #ffffff;
background-color: #fe4066;
}

.navbar-scroll .logo{color: #000;
font-weight: 500;
}

.first-title{
	text-transform: capitalize;
}

section{background-color: white;
padding: 4rem 0rem 4rem;
}
section:nth-of-type(even){background-color: #fe4066;
color: white;}

.content{
	padding-top: 100px;
}
.cont {
	margin-left: 10%;
	margin-right: 10%;
}
.uppercase {
	text-transform: uppercase;
}

.white {
	color: white;
}
.bg-darker {
	background-color: #7AB8BF;
}
.quote-row {
	width: 500px;
	font-size: 20px;
	margin-left: auto;
	margin-right: 10%;
	margin-top: -250px;
	margin-bottom: 150px;
	color: grey;
}
.blue {
	color:#003366;
	text-align: center;
}

.row-mine {
	margin-left: 15%;
}

.card {
	width: 350px;
}

.img_slider{
	width: 00px;
	display: none;
}
.content .carousel {
	width:400px;
	height:360px;
	align-self: center;
	justify-content: center;
	display: flex;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.cr {
	margin-top: 80px;
	text-align: center;
}

.social a i {
	margin-top: 10px;
	width: 50px;
	font-size: 30px;
}
.social a i:hover {
	color: #fff;
}
.social a  {
	color: #fff;
}
.color-white, .color-white p a {
	color: #fff;
}
.logo {
	width: 300px;
}

footer, .bg {
	background-color: #0f5384;
	color: #fff;
}

.slider {
	text-align: center;
	background-color: transparent;
}

.flex {
	display: flex;
}

.mySlidesn{
display: none;
}
.mySlidesn:first-child{
	display: block;
}

.heading-toppers{
	font-size: 2rem;
	background-color: transparent;
}

.vission_mission{
	width: 80%;
	margin-top: -30px;
}
.row h1.font {
	font-size: 100px;

}
.col-sm {
	margin-left: 10%;
}

@media screen and (max-width: 1227px) {
	.carryover {
		display: block;
	}
	#carousel {
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
	}
	#carouselExample {
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 1096px){
	.hello{
		margin-top: 40px;
	}
	.row-mine{
		margin-left: 30%;
	}
	.font{
		font-size: 20px;
	}
	#carousel {
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
	}
	#carouselExample {
		margin-right: auto;
		margin-left: auto;
	}
	
}

@media screen and (max-width: 960px) {
	.row-mine {
		margin-left: 10%;
	}
	.font{
		font-size: 18px;
	}
}
@media screen and (max-width: 865px) {
	.row-mine {
		margin-left: 05%;
	}
	.font{
		font-size: 15px;
	}
}
@media screen and (max-width: 820px) {
	.row-mine {
		margin-left: 0%;
	}
}
@media screen and (max-width: 776px) {
	.row-mine {
		margin-left: 30%;
	}
	.mt-40 {
		margin-top: 40px;
	}
}
@media screen and (max-width: 650px) {
	.row-mine {
		margin-left: 15%;
	}
}
@media screen and (max-width: 500px) {
	.row-mine {
		margin-left: 5%;
	}
	.row h1.font:last-child{
		font-size: 60px;
		margin-bottom: 50px;
	}
	.row h1.font{
		font-size: 60px;
		margin-bottom: -50px;
	}
	#carouselExample,#carousel {
		width: 300px;
	}
		.logo {
		width: 80%;
	}
}
@media screen and (max-width: 400px) {
	.row-mine {
		margin-left: -5%;
	}
	.card {
		width: 280px;
	}
	.logo {
		width: 80%;
	}
}
@media screen and (max-width: 350px) {
	.row-mine {
		margin-left: -15%;
	}
	.card {
		width: 250px;
	}	
	#carouselExample,#carousel {
		width: 250px;
	}
	.logo {
		width: 80%;
	}
}


@media only screen and (min-width:1200px){
	.nav-item > .nav-link{padding: 5px 20px !important;
		display: block !important;}
}

@media only screen and (max-width:992px){
	.header-inner{background-color: white!important;
	}
	.nav-item > .nav-link{
		color: black!important}
		.logo{color: #000 !important;
			font-weight: 600!important;}
			.content-banner .first-title{font-size: 30px !important;
			}
}






